
<% options = item.ad_hoc_option_values.group_by { |opt| opt.option_value.option_type.presentation } %>

<ul>
  <li class="comments">
    <% options.each do |option, values| %>
      <h5><%= option.split(/\b/)[0] %>:</h5>
      <%= values.collect {|val| val.presentation}.join(', ').capitalize %>
    <% end %>
  </li>
</ul>
