<div id="main">
  <div class="home_tagline">
    <h3>About Us:</h3>
    <div class="clear"></div>
  </div>
  <div id="about-us">
    <p>My Lunch In is a lunch delivery and pick-up service brought to you by Nora's Table restaurant in Hood River.</p>

    <p>You can order and pay for your lunch with a credit card here at the Web site (or by selecting "cash" and paying on delivery or pickup). Or, you can come to the restaurant and order and sit down for table service.  We are preparing and serving lunch Monday through Friday, from 11:30 to 2:00.</p>

    <p>To get lunch, order here at the web site. Choose your lunch from our oh-so-munchable menu, pick your delivery time/location, or the time you’d like to pick it up at Nora’s Table, and then pay. You’re done. Go back to work or play. If you’re picking your lunch up at Nora’s Table, it will be waiting for you when you walk in the door.</p>

    <p>Nora’s Table is located at 110 Fifth St., downtown Hood River. We are open for dinner service at 5:00, seven nights a week. Reserve a table at <a href="http://www.opentable.com/noras-table">Open Table.</a></p>
    <ul>
      <li>Web: <a href="http://www.norastable.com">norastable.com</a></li>
      <li>Phone: 541-387-4000</li>
      <li>E-mail: <%= mail_to "kathy@norastable.com", "kathy@norastable.com" %></li>
      <li>Facebook for Nora’s Table: <a href="http://www.facebook.com/NorasTable">facebook.com/NorasTable</a></li>
      <li>Facebook for My Lunch In: <a href="http://www.facebook.com/MyLunchIn">facebook.com/MyLunchIn</a></li>
      <li>Twitter: <a href="http://twitter.com/norastable"></a></li>
    </ul>
    <div class="divider line"></div>
    <h3>Here are some questions and answers for you:</h3>

    <p><span class="dropcap2">Q:</span> Where are you delivering?</p>
    <p><span class="dropcap1">A:</span> During our launch period, we will be delivering to three locations: the Waucoma Building, Hood River; the 489 Building on the Hood River waterfront (formerly known as the UTS building) and the Insitu winery building in Bingen. These locations may change over time, and we may add more locations, as we see how business grows. You can ALWAYS pick your lunch up at Nora’s Table. You will select your delivery time/location or pick-up time when your place your order.</p>

    <p><span class="dropcap2">Q:</span> I ordered my lunch to be delivered, and I can’t find it. Where is it?
    </p><p><span class="dropcap1">A:</span> Here are the exact locations to which we are delivering in your building. You will need to go to this area and look for your lunch, which will have your name on it. It will probably be in a cardboard box with other lunches. Just take yours, please.</p>

    <ul class="box" style="text-align:left">
      
    <li><strong>Waucoma Building: </strong>Delivering to the main reception area on Wasco St. </li>
    <li><strong>489 Building: </strong>Delivering to the lobby area on the Northeast corner of the building</li>
    <li><strong>Bingen Winery Building:</strong> Delivering to the main reception area</li>
    </ul>

    <p>If you STILL can’t find your lunch at the appointed time it was supposed to be delivered, please call us at 541-387-4000.</p>

    <p><span class="dropcap2">Q:</span> Will my lunch be hot and ready to eat when it’s delivered? Except for my salad, of course.
    </p><p><span class="dropcap1">A:</span> All our lunches can be ordered prepared hot and ready to eat, or cold and ready for the microwave. You choose when you order. Please remember: we’re serving REAL food, which means it will REALLY spoil if you leave it sitting on your desk for four hours. If you aren’t going to eat right away, please refrigerate your lunch until you’re ready to eat it. All our meals will be served in microwavable containers.</p>

    <p><span class="dropcap2">Q:</span> I’m really concerned about our trashy society. Are you going to create another waste stream with your take-out lunches?
    </p><p><span class="dropcap1">A:</span> Because we don’t want your lunch to seep all over your desk, we are not able to use compostable containers at this time, because they tend to leak. We’re still trying to find microwavable containers that are compostable and don’t leak.</p>

    <p>However, we think we have a good alternative. Our microwavable containers are all high quality, and can easily be washed and re-used by you at home. And we encourage you to do that. Health rules will not allow us to take your containers back and reuse them.</p>

    <p>At Nora’s Table, we compost ALL the food waste created in the process of making your lunch and dinners. We are working with Dirt Huggers on a pilot project to take all scraps, including fish, meat and post-consumer waste from the dining room. Dirt Huggers is turning it into top soil at their windrow composting facility in The Dalles. We also recycling everything else, including packaging, cardboard, paper, tin, plastic and glass. We are generating very little garbage waste.</p>

    <p><span class="dropcap2">Q:</span  > What if I want, like, 30 lunches. Do I still have to order them on-line?
    </p><p><span class="dropcap1">A:</span> Please call us at 541-387-4000 if you want more than 10 lunches, and we’ll take your order over the phone and arrange delivery.</p>

    <p><span class="dropcap2">Q:</span> Can I get lunches on Saturday and Sunday?
    </p><p><span class="dropcap1">A:</span> At this time, no. We’ll think about adding those days as the business grows.</p>

    <p><span class="dropcap2">Q:</span> Do I need to tip your staff when they deliver, or when I pick up?
    </p><p><span class="dropcap1">A:</span> Only if you want unending good karma to follow you all the days of your life.</p>
    
  </div>
</div>