<div id="main">
  <div class="home_tagline">
    <br>
    </br>
    <h1>
      About us page
      <br>
      </br>
      Refer to
      <a :href => blog_url>Nora's Table</a>
    </h1>
    <div class="clear">
    </div>
  </div>
</div>