<div id="main">
  <div class="home_tagline">
    <br>
    <h1>Hello and Welcome to My Lunch In
      <br>Order today's lunch from 
      <%= link_to "Nora's Table", about_url %>
    </h1>
    <div class="clear"></div>
    <div class="divider line"></div>
  </div>
  <div class="inner">
    <%= render :template => "shared/left_sidebar" %>
    <%= @products.each do |product| %>
      <div class="content content_right blog3">
        <div class="post relative">
          <div class="post-image gallery clearfix">
              <!-- 
              <a href=asset_path("plates/{plate.id} + ".jpg"), :rel => "gallery[gallery{plate.id}]">
                <img :alt => plate.name, :height => "120", :src => asset_path("plates/{plate.id}" + ".jpg")>
                </img>
              </a>
               -->
              <span class="date">
                <span class="bold"><%= product.created_at.strftime("%b %d") %></span>
                <div plate.created_at.year></div>
              </span>
              <span class="comments-nr">
                <!-- 
                <a href=asset_path("plates/{plate.id}! .jpg"), :rel => "gallery[gallery{plate.id}]">
                  <span class="bold">{number_to_currency(plate.price, :unit => "$")}</span>
                  lunch
                </a>
                 -->
              </span>
              <!-- 
              / %span.comments-nr
              /   %a{href="#"}
              /     %span.bold {rand(20)}
              /     remaining
               -->
            </div>
            <div class="post-entry">
              <h1 class="title line">
                <div plate.name>
                </div>
              </h1>
              <div class="divider line short">
              </div>
              <p class="plate-description">{plate.description}</p>
              <% #if plate.vegetarian %>
                <span class="highlight-light dietary">Vegetarian</span>
              <% #end %>
              <% #if plate.gluten_free %>
                <span class="highlight-light dietary">Gluten Free</span>
              <% #end %>
              <ul class="plate-variations">
                <% # plate.variations.each do |v| %>
                  <li class="variation-label">
                    <span>
                      <div v.label>:</div>
                    </span>
                    <ul>
                      <% #v.selections.each do |s| %>
                        <li class="plate-selection">
                          <%# if v.choose_one %>
                            <!-- 
                            input.radio{:type => "radio",
                              -->
                              <input name="name" value="=> "variations[{v.id}","/>

                              <input name="value" value="=> s.name,"/>

                              <input name="checked" value="=> (s.defaulted ? "checked" : nil),"/>

                              <input name="id" value="=> "selection_{plate.id}_{s.id}"}"/>
                          <%# else %>
                            %input.checkbox{:type => "checkbox",

                              <input name="name" value="=> "variations[{v.id}]","/>

                              <input name="value" value="=> s.name,"/>

                              <input name="checked" value="=> (s.defaulted ? "checked" : nil),"/>

                              <input name="id" value="=> "selection_{plate.id}_{s.id}"}"/>
                          <label :for => "selection_{plate.id}! _{s.id}">

                          </label>
                          <div class="clear">
                          </div>
                          
                        </li>
                    </ul>
                  </li>
              </ul>
              <div class="button-row cta">
                <input class="classy add-item" :type => "submit", :value => "Add to Lunch Box" />
              </div>
            </div>
          </div>
      </div>
    </div>
    <% end %>
    <div class="clear">
    </div>
  </div>
</div>