<% content_for :tagline do %>
<h1>Hello and Welcome to My Lunch In
  <br>Order today's lunch from 
  <%= link_to "Nora's Table", about_url %>
</h1>
<% end %>
<%= render :partial => "products/show", :collection => @products, :as => :product %>
