#header {
  height: 20px;
  #logo {
	  display:none;
  }
}
#header h1 a {
	display: none;
}
body {
  background: url(asset-path('light_gray_background.gif','image')) repeat-x #fff;
}
.adr {
  width: 45%;
  min-width: 45%;
}