<% option_type.option_values.each do |ah_ov| %>
  <li class="plate-selection">
      <label>
        <%= check_box_tag "ad_hoc_option_values[#{option_type.id}][]", ah_ov.id.to_s, false, :class => class_str %>
        <%= ah_ov.option_value.presentation %></label>
      <div class="clear"></div>
  </li>
<% end %>
