.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
#subtotal {
	text-align: right;
}
#cart-buttons {
	float: right;
	width: 367px;
  margin: 20px 0;
  a,button {
    float:right;
  }
}
#empty-cart {
	position: absolute;
  left: -10px;
  bottom: 0px;
	width: 140px;
}
#cart-detail {
	width: 100%;
}

#existing-customer .authentication img{
	display:none;
}

#account, #guest-checkout {
  float: left;
  width: 360px;
}

#pickup_date {
  float: left;
  font-size: 15px;
  font-weight: bold;
}

#payment-methods {
  p.field {
    position: relative;
  }
}
#creditcard-image {
  top: 20px;
  left: 0px;
  clip:rect(0px, 80px, 30px, 0px);
  position: absolute;
}


.tabnav li a {
  font-size: 14px;
}
.tabnav li.ui-tabs-selected a {
  color: #333;
}

a.button.classy.minibtn, a.button.classy.minibtn span {
	height: 16px;
	line-height: 16px;
	padding: 1px 2px;
}

$field-width: 320px;
.edit_order {
  li {
    clear: both;
  }
  .field {
    float: left;
    width: $field-width;
  	input, textarea, select {
      width: $field-width - 30;
    	height: 25px;
  		font-size: 12px;
  		padding-left: 4px;
    	margin: 2px;
  	}
    input, textarea {
  		$shadow-props: 2px 2px 3px #e3e3e3 inset;
  		-webkit-box-shadow: $shadow-props;
  		-moz-box-shadow: $shadow-props;
  		box-shadow: $shadow-props;
  		border: 1px solid #ccc;
    }
    select {
      padding: 3px;
    }
    input[type="radio"], textarea, select {
      height: inherit;
  		padding-left: inherit;
      width: auto;
    }
  	label.error {
      width:$field-width - 38;
      display:block;
      border: 1px solid #CD0A0A;
  		line-height: 1.5em;
  		padding: 5px;
  		margin-left: 2px;
  		border-width: 1px 1px 1px 3px;
  	}
  }
  .cc-expire {
    width: 160px;
  }
  .cc-code {
    width: 300px;
    input {
      width: 130px;
    }
  }
}


#checkout {
  ol, li {
  	list-style-type:none;
  	padding:0;
  	margin:0;
  	}		
  .breadcrumb {
    font-size: 115%;
    margin-bottom: 20px;
  	height:2.3em;
  	border:1px solid #dedede;
    li {
      float:left;
      line-height:2.3em;
      color:#777;
      span {
        background:url(asset-path('crumbs.gif','image')) no-repeat right center;
    	  color: #ccc;
        display:block;
    	  padding:0 18px 0 10px;
        a {
          color: #666666;
          font-weight: bold;
        }
      }
      a:hover, a:focus {
      	color: #111;
      }
    &.current-first span, &.current span {
      font-weight: bold;
      color: #D16F4E;}
    }
  }
}

#delivered_to, #pickup_from {
  float: left;
  width: 330px;
  padding-right: 20px; 
  color: darken(#888888,10%);
  li.slot {
    height: 90px;
  }
  ul.location li, h3 {
    margin: 0 0 0 22px;
  }
  label {
    font-size: 20px;
  }
}
#no-delivery-left {
  display: none;
  label {
    padding-left: 22px;
  }
}

/*

@mixin linear-gradient($from, $to) {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image:    -moz-linear-gradient(top, $from, $to);
  background-image:     -ms-linear-gradient(top, $from, $to);
  background-image:      -o-linear-gradient(top, $from, $to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to)";
  background: linear-gradient($from, $to);
}

*/
