<%= form_for :order, :url => populate_orders_url do |f| %>
  <div data-hook="inside_product_cart_form">

    <% if @product.price %>
      <div data-hook="product_price">
      </div>
    <% end %>

    <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
      <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1 %>
      <input class="classy add-item" type="submit" value="Add to Lunch Box" />
        <%#= button_tag :class => 'large primary', :id => 'add-to-cart-button' do %>
        <%#= image_tag('icons/add-to-cart.png') + t(:add_to_cart) %>
        <%# end %>
    <% else %>
      <%= content_tag('strong', t(:out_of_stock)) %>
    <% end %>

  </div>
<% end %>
