<div id="footer">
  <div class="inner">
    <div class="one_fourth logo">
      <p>&nbsp;</p>


      <%#= image_tag "logo_footer.png", :title => "Purity", :class => "table", :width => 100 %>
      <!-- <h1>My Lunch In Logo</h1>  -->
    </div>
    <div class="one_fourth">
      <h5>Recent tweets</h5>
      <div id="tweet">
        <p>Please wait while tweets load..</p>
      </div>
    </div>
    <div class="one_fourth">
      <h5>Restaurant Location</h5>
      <p>
        Nora's Table
        <br>
        110 Fifth Street
        <br>
        Hood River, OR 97031
      </p>
      <p>
        Phone: 541-387-4000
      </p>
    </div>
    <div class="one_fourth last">
      <h5>Contact by Mail</h5>
      <p>
        My Lunch In
        <br>
        Box 29
        <br>
        Hood River, OR 97031
      </p>
      <p>
        E-Mail:
        <a href="mailto:kathy@norastable.com">kathy@norastable.com</a>
      </p>
    </div>
  </div>
  <div class="footer_small">
    <div class="copyright">
      © 2011
      <a href="#">Nora's Table</a>
      - All rights reserved.
    </div>
    <div class="social">
      <a href="#">
        <%= image_tag("social/twitter.png") %>
      </a>
      <a href="#">
        <%= image_tag("social/facebook.png") %>
      </a>
      <a href="#">
        <%= image_tag("social/dribbble.png") %>
      </a>
      <a href="#">
        <%= image_tag("social/rss.png") %>
      </a>
    </div>
  </div>
</div>